.b-comments{
	&__content{
		width: 100%;
	    background: white;
	    position: relative;
	    margin: auto;
	    min-height: 100%;
	    @include breakpoint(desktop){
	    	height: 100%;
	    	width: 90%;
	    	max-width: 570px;
	    	margin-top: 4rem;
	    	height: auto;
	    	min-height: auto;
	    }
	}
	&--outer{
		max-height: 90vH;
		overflow-Y: scroll;
	    @include breakpoint(desktop){
			//height: 200px;
	    }
	}
	&--inner{
		padding: 24px 17px 50px 17px;
	    @include breakpoint(desktop){
			padding: 49px 38px;
	    }
	}
	&__single{
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
		position: relative;
	    @include breakpoint(desktop){
			margin-bottom: 35px;
	    }
		&--left{
			display: flex;
			align-items: center;
			width: calc(100% - 40px);
		    @include breakpoint(desktop){
				width: calc(100% - 50px);
		    }
		}
		&--right{
			width: 37px;
		    padding-right: 4px;
		    padding-top: 11px;
			img{
				margin-left: auto;
			}
		    @include breakpoint(desktop){
				width: 30px;				
		    }
		}
	}
	&__img{
		width: 38px;
	    height: 38px;
	    border-radius: 100%;
	    align-self: baseline;
		img{
			border-radius: 100%;
			width: 100%;
		}
	    @include breakpoint(desktop){
			width: 44px;
		    height: 44px;			
	    }
	}
	&__txt{
		width: calc(100% - 44px);
		padding-top: 2px;
    	padding-left: 10px;
    	font-size: 14px;
    	line-height: 17px;
		span{
			font-family: RobotoBold;
		}
	    @include breakpoint(desktop){
    		font-size: 16px;
    		line-height: 21px;
	    }
	}
	&__delete{
		position: absolute;
	    left: -7px;
	    top: 12px;
	    font-family: Roboto;
	    font-weight: bold;
	    cursor: pointer;
	    @include breakpoint(desktop){
			left: -20px;			
	    }
	}
	&__deletePost{
		font-family: Roboto;
	    font-size: 11px;
	    text-transform: uppercase;
	    cursor: pointer;
	    font-weight: bold;
	    @include breakpoint(desktop){
	    	font-size: 14px;	
	    }
	}
	&__form{    
		position: fixed;
	    bottom: 47px;
	    background: white;
	    width: 100%;
	    left: 0;
	    border-top: 1px solid rgba(149, 152, 154, 0.5);
	    padding: 5px 15px;
	    z-index: 2;
	    @include breakpoint(desktop){
			position: absolute;		
			bottom: 0;	
			padding: 10px 19px 10px 34px;
		}
	    form{
	    	display: flex;
		    align-items: center;
		    background: white;
	    }
	    &__icon{
	    	width: 27px;
		    @include breakpoint(desktop){
	    		width: 33px;
		    }
	    }
	    .c-profile-edit__input{
	    	width: calc(100% - 60px);
		    margin: 0;
		    border: 0;
		    font-size: 16px;
		    height: 30px;
    		margin-left: 13px;
    		resize: none;
	    }
		.c-profile-edit__submit{
			margin: 0;
			display: block;
			background: url('../img/accept.png') no-repeat;
			font-size: 0;
		    width: 30px;
			height: 30px;
			margin-left: auto;
		    @include breakpoint(desktop){
			    width: 32px;
				height: 32px;
		    }
		}
	}
	&__personal{
		position: relative;
		&:after{
			position: absolute;
			content: '';
			left: -38px;
    		right: -38px;
			bottom: -8px;
			border-bottom: 1px solid rgba(149, 152, 154, 0.5);
		    @include breakpoint(desktop){
				bottom: -15px;
		    }
		}
	}
}