.b-photos{
	overflow: hidden;
	margin-top: 22px;
	display: flex;    
	flex-flow: wrap;	
    position: relative;
	@include breakpoint(desktop){
		flex-flow: wrap;
		max-width: 1480px;
		margin: auto;
		margin-top: 70px;
    	justify-content: normal;
	}
	&-popup{
		position: fixed;
		right: 0;
		top: 47px;
		bottom: 0;
		left: 0;
		right: 0;
		padding-bottom: 47px;
		overflow: scroll;
		@include breakpoint(desktop){
			padding-bottom: 70px;
			bottom: 0;
			//max-height: 80vH;
		}
		&__back{
			position: fixed;
			width: 100%;
			height: 100%;
			background: white;
			@include breakpoint(desktop){
				background: rgba(35, 36, 41, 0.95);
			}
		}
		.o-photo{
			//max-width: 500px;
			width: 100%;
		    margin: auto;
		    margin-top: 3.5vH;
		    position: relative;
		    z-index: 1;
			@include breakpoint(desktop){
		    	margin-top: 7vH;
				max-width: 700px;
				width: 100%;
			    &__comments__txt, &__comments__all{
					color: white;
			    }
			    &__likes h3{
					color: rgba(255, 255, 255, 0.6);
			    }
			}
		    &__head{
		    	margin-bottom: 1.7rem;
		    	&__name{
					@include breakpoint(desktop){
		    			color: white;
		    		}
		    	}
		    }
		    &__img{
		    	max-width: 100%;
		    }
		}
		.b-comments{
			z-index: 1;
		}
	}
}


.spinner {
  width: 40px;
  height: 40px;
  //position: relative;
  //margin: 100px auto;
  position: absolute;
  margin: 40px auto;
  left: 0;
  right: 0;
  &--photo{
  	bottom: 50px;
  }
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
