//-------------------------
//---------------TYPOGRAPHY
//-------------------------

//------FONT-FACE
// @include fontFace (Gotham, gotham-light);

//------FONT SIZES
html {
    @include font-size-vw(16,16);
    @include breakpoint(large){
         font-size: 16px;
    }
}
body {
    font-size: 100%;
    font-family: $baseFont;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url(#{$localFontBase}/helveticaneue-roman-webfont.ttf);
}
@font-face {
    font-family: 'HelveticaThin';
    src: url(#{$localFontBase}/HelveticaNeue-Thin.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(#{$localFontBase}/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'RobotoBold';
    src: url(#{$localFontBase}/Roboto-Bold.ttf);
}

//------DEFAULT STYLES
b,
strong {
    font-weight: bold;
}
i,
em {
    font-style: italic;
}
u {
    text-decoration: underline;
}

//------STYLES
h1 {
    font-size: 7.2rem;
}
h2 {

}
h3 {

}
h4 {

}
h5 {

}
h6 {

}
p {

}
span {

}
